@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    background-color: hsl(0, 0%, 85%);
}

header {
    background-color: #5C93AA;
    display: flex;
    justify-content: space-between;
    padding: 35px 60px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo:hover {
    transform: scale(1.3);
}

img.logo {
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

nav>a {
    text-decoration: none;
    color: #ffff;
    margin: 0 20px;
    font-weight: 500;
}

nav>a:hover {
    text-decoration: underline;
}

/* HOME */
.home {
    background-image: url('../img/White-Onyx.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 700px;
    background: rgba(0, 0, 0, 0.5);
}

.home-texto {
    padding-top: 280px;
    position: relative;
    text-align: center;
    color: lightcyan;
    z-index: 2;
}

.home-texto h1 {
    color: white;
    font-size: 60px;
    font-weight: 800;
}

.home-texto p {
    margin-top: 30px;
    font-size: 18px;
}

.btn-produtos {
    display: inline-block;
    margin-top: 25px;
    background: #0C3756;
    padding: 12px 25px;
    border-radius: 6px;
    border: none;
    color: rgb(243, 237, 237);
    font-weight: 600;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-produtos:hover {
    color: #5C93AA;
    background-color: lightgray;
}

/* SOBRE NÓS */
.sobre {
    padding-top: 150px;
}

.sobre-texto {
    text-align: center;
}

.sobre-texto h2 {
    color: #0C3756;
    font-size: 45px;
    font-weight: 700;
}

.sobre-texto p {
    line-height: 1.6;
    max-width: 800px;
    margin: 40px auto;
    font-size: 18px;
}

/* PRODUTOS */
.produtos {
    padding-top: 150px;
    text-align: center;
}

.produtos h2 {
    color: #0C3756;
    font-size: 45px;
    font-weight: 700;
}

.produtos-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 35px;
    display: flex;
    max-width: 1000px;
    width: 80%;
}

.produtos-container>div {
    margin: 40px auto;
    width: 100%;
    height: 80%;
    border-radius: 8px;
    background-color: #5C93AA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
    max-width: 1200px;
    text-align: center;
}

.produtos-container>div>div {
    padding: 15px;
}

.produtos-container>div>div>h3 {
    color: #ffff;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.produtos-container>div>div>p {
    color: #000;
    line-height: 1.6;
    font-size: 18px;
    line-height: 1.6;
}

.produtos img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.btn-comprar {
    cursor: pointer;
    display: inline-block;
    margin-top: 25px;
    background: #0C3756;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-comprar:hover {
    color: #5C93AA;
    background-color: lightgray;
}

/* AVALIAÇÕES */
.avaliacoes {
    padding-top: 150px;
    text-align: center;
}

.avaliacoes h2 {
    color: #0C3756;
    font-size: 45px;
    font-weight: 700;
}

.avaliacoes-container {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 25px;
    display: flex;
    max-width: 1000px;
    width: 70%;
}

.avaliacoes-container>div {
    background-color: #5C93AA;
    margin: 40px auto;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 1200px;
    text-align: center;
}

.avaliacoes div h3 {
    color: #ffff;
    margin-top: 15px;
    font-weight: 700;
    text-align: end;
}

/* CONTATO */
.contato {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 50px;
}

.contato h2 {
    color: #0C3756;
    font-size: 45px;
    font-weight: 700;
}

.contato-container {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    gap: 35px;
    margin-top: 40px;
    max-width: 1000px;
    flex-wrap: wrap;
}

.contato-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1;
    min-width: 300px;
    margin-bottom: 20px;
}

.contato-mapa {
    flex: 1;
    min-width: 300px;
    height: 100%;
}

.contato-mapa iframe {
    width: 100%;
    height: 350px;
    border-radius: 6px;
    border: none;
    margin: 0%;
    padding: 0%;
}

.contato-form input,
.contato-form textarea {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    outline: none;
}

.contato-form input:focus,
.contato-form textarea:focus {
    border-color: #007bff;
}

.contato-form button {
    cursor: pointer;
    display: inline-block;
    background: #0C3756;
    padding: 12px 25px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    box-shadow: 1px 1px 6px black;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.contato-form button:hover {
    color: #5C93AA;
    background-color: lightgray;
}

.contato-container>div>p {
    padding: 5px;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: #5C93AA;
    color: white;
}

footer p {
    margin: 0;
    margin-bottom: 25px;
}

footer>div {
    display: flex;
    justify-content: center;
    gap: 30px;
}

#icon {
    width: 30px;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#icon:hover {
    transform: scale(1.3);
}

/* RESPONSIVIDADE para 578px até 1000px */
@media (min-width: 578px)and (max-width: 1000px) {

    /* HEADER */
    header {
        flex-direction: column;
        padding: 1px;
        text-align: center;
    }

    h1 {
        margin-top: 10px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 5px;
    }

    nav>a {
        margin: 20px 5px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .btn-login {
        padding: 10px 15px;
        margin-top: 12px;
    }

    /* HOME */
    .home {
        height: 400px;
        background-position: center;
    }

    .overlay {
        height: 400px;
    }

    .home-texto {
        padding-top: 170px;
    }

    .home-texto h1 {
        font-size: 28px;
    }

    .home-texto p {
        font-size: 15px;
    }

    .btn-produtos {
        padding: 10px 20px;
    }

    /* SOBRE */
    .sobre {
        padding-top: 120px;
    }

    .sobre-texto h2 {
        font-size: 32px;
    }

    .sobre-texto p {
        width: 70%;
    }

    /* PRODUTOS */
    .produtos {
        padding-top: 120px;
    }

    .produtos h2 {
        font-size: 32px;
    }

    .produtos-container {
        flex-direction: column;
        width: 60%;
    }

    .produtos-container>div {
        width: 70%;
    }

    .produtos-container img {
        height: auto;
    }

    /* AVALIAÇÕES */
    .avaliacoes {
        padding-top: 120px;
    }

    .avaliacoes h2 {
        font-size: 32px;
    }

    .avaliacoes-container {
        flex-direction: column;
        width: 70%;
    }

    .avaliacoes-container>div {
        width: 80%;
    }

    /* CONTATO */
    .contato {
        padding-top: 120px;
    }

    .contato h2 {
        font-size: 32px;
    }

    .contato-container {
        flex-direction: column;
        width: 70%;
    }

    .contato-mapa iframe {
        height: 250px;
    }

    .contato-form input,
    .contato-form textarea {
        font-size: 14px;
    }

    /* FOOTER */
    footer {
        padding: 20px;
    }

    footer>div {
        gap: 15px;
    }

    #icon {
        width: 25px;
    }
}

/* RESPONSIVIDADE para até 577px */
@media (max-width: 577px) {


    /* HEADER */

    header {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 5px;
    }

    nav>a {
        margin: 10px 5px;
        font-size: 16px;
    }

    .btn-login {
        padding: 8px 12px;
        font-size: 12px;
        margin-top: 10px;
    }

    /* HOME */
    .home {
        height: 300px;
        background-position: center;
    }

    .overlay {
        height: 300px;
    }

    .home-texto {
        padding-top: 90px;
    }

    .home-texto h1 {
        font-size: 28px;
    }

    .home-texto p {
        font-size: 15px;
    }

    .btn-produtos {
        padding: 10px 20px;
    }

    /* SOBRE */
    .sobre {
        padding-top: 100px;
    }

    .sobre-texto h2 {
        font-size: 28px;
    }

    .sobre-texto p {
        width: 90%;
        font-size: 14px;
    }

    /* PRODUTOS */
    .produtos {
        padding-top: 120px;
    }

    .produtos h2 {
        font-size: 32px;
        margin: 5px;
    }

    .produtos-container {
        flex-direction: column;
        width: 80%;
    }

    .produtos-container>div {
        width: 80%;
    }

    .produtos-container img {
        height: auto;
    }


    /* AVALIAÇÕES */
    .avaliacoes {
        padding-top: 120px;
    }

    .avaliacoes h2 {
        font-size: 32px;
        margin: 15px;
    }

    .avaliacoes-container {
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .avaliacoes-container>div {
        width: 80%;
    }

    /* CONTATO */
    .contato {
        padding-top: 120px;
    }

    .contato h2 {
        font-size: 32px;
    }

    .contato-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }


    .contato-form {
        min-width: 100px;
    }

    .contato-form input {
        padding: 12px;
        font-size: 14px;
    }

    .contato-mapa {
        min-width: 200px;
        height: 100%;
    }

    .contato-mapa iframe {
        width: 90%;

    }


    /* FOOTER */
    footer {
        padding: 20px;
    }

    footer>div {
        gap: 15px;
    }

    #icon {
        width: 25px;
    }
}